TA Requirements Feedback\
\
% The user must be able to store the data on an external database \
% \\item The user must be able to store data in a database.\
% N\'e5r man s\'e6lger et produkt er vedkommende ligeglad med dette \
% Funktionelle krav skal udledes fra Use Case \
\
%\\item The system should be able to index research papers in the database for faster look up times. \
- TOO TECHNICAL\
- Snakker om database for tidligt, underordnet for koeberen.\
- Databasen er blot en komponent som kan gemme data.\
- Indeks = performance ting, bedre soegeopslag \
\
%\\item Use of prepare statements on database queries to secure against malicious user input\
- Brug LINQ og drop queries for at tilgaa database\
- Ting som klient ikke kender til \
\
item %Storing common queries to speed up response time\
- Performance issue\'85 }